# Add any directories, files, or patterns you don't want to be tracked by version control
src/SkeetShooting/.vs

src/SkeetShooting/Temp

src/SkeetShooting/Library
src/SkeetShooting/Logs
src/SkeetShooting/.idea
src/SkeetShooting/Assembly-CSharp.csproj
src/SkeetShooting/Assembly-CSharp-Editor.csproj
src/SkeetShooting/SkeetShooting.sln
src/SkeetShooting/SkeetShooting.csproj
src/SkeetShooting/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll

src/SkeetShooting/obj

.vs
/builds
src/SkeetShooting/Assets/Plugins/Editor/JetBrains

*.csproj

# Build related
Cake/tools/**
Cake/!tools/packages.config


